<!DOCTYPE html>
<html>
	<head>
		{% include html_head.html %}
	</head>
	<body>
		{% include html_body_header.html %}

		<div class="title">Camera-Ready Instruction</div>
		
		<p>1. FINAL PAPER: Final paper should be prepared according to the Springer LNCS format and submitted using your EasyChair author account.Follow the instructions after the login for uploading two files:</p>
		
		<ul>
			<li>either a zipped file containing all your LaTeX sources or a Word file in the RTF format</li>
			<li>the PDF version of your camera-ready paper</li>
		</ul>
		
		
		<p>The page limit is 8-10 Pages for Full Papers and 4-6 Pages for Short Papers. Please follow strcitly the author instructions of Springer-Verlag when preparing the final version:
			<a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">GUIDELINES</a>.</p>
		
		<!--<p>Our publisher has recently introduced an extra control loop: once data processing is finished, they will contact all corresponding authors and ask them to check their papers. We expect this to happen shortly before the printing of the proceedings. At that time your quick interaction with Springer-Verlag will be greatly appreciated.</p>-->

		<p>2. COPYRIGHT: Please upload a signed and completed copyright form to us as soon as possible. The Springer copyright form template can be found at <a href="https://www.springernature.com/cn/open-science/policies/journal-policies/licensing-and-copyright" target="_blank">HERE</a>.

		It is sufficient for one of the authors to sign the copyright form. You can scan the form into PDF or any other standard image format.</p>

		<br><br><br>
		
		{% include html_body_footer.html %}
	</body>
</html>
