<!DOCTYPE html>
<html>
	<head>
		{% include html_head.html %}
	</head>
	<body>
		{% include html_body_header.html %}

		<div class="title">Important Dates</div>
		
		<ul>
			<li>
				Submission of papers:
				<span style="color: red;">October 10, 2025</span>
			</li>
			<li>
				Notification of acceptance:
				October 25, 2025
			</li>
			<li>
				Camera-ready due:
				<span style="color: red;">October 30, 2025</span>
			</li>
			<li>
				Author registration deadline: November 10, 2025
			</li>
		</ul> 

		<div class="title">To ICWL&SETE2025</div>

		<a href="https://icwl-sete.comp.polyu.edu.hk/" target="_blank">https://icwl-sete.comp.polyu.edu.hk/</a>
			
		{% include html_body_footer.html %}
	</body>
</html>
