---
---
<!DOCTYPE html>
<html>
	<head>
		{% include html_head.html %}
	</head>
	<body>
		{% include html_body_header.html %}

		
		<div class="title">Organizing Committee Co-Chairs</div>

		<ul>
			<li>LI Zongxi, Lingnan University, Hong Kong SAR</li>
			<li>Dong chengzu, Lingnan University, Hong Kong SAR</li>
			<li>LI Nan, Lingnan University, Hong Kong SAR</li>

		</ul>
		
		<div class="title">Steering Committee Chairs</div>
		<ul>
			<li>Gwo-Jen Hwang, Taichung University of Education, Taiwan</li>
			<li>Haoran Xie, Lingnan University, Hong Kong SAR</li>
			<li>Di Zou, The Hong Kong Polytechnic University, Hong Kong SAR</li>
			<li>Wei Chen, Chinese Academy of Agricultural Sciences, China</li>
		</ul>

		<div class="title">Program Committee</div>
		<ul>
			<li>Shao Di, Pengcheng Lab, China</li>
			<li>Shuzhou Lin, Macau University of Science and Technology, Macau SAR</li>
			<li>Yunjiu Luo, Macau University of Science and Technology, Macau SAR</li>
			<li>Xudong Mao, Sun Yat-sen University, China</li>			
			<li>Tso Tat Ming, Principal of WAI KIU COLLEGE, Hong Kong SAR</li>
			<li>Tingxuan Su, City University of Hong Kong, Hong Kong SAR</li>
			<li>Lingling Xu, Lingnan University, Hong Kong SAR</li>
			<li>Aihua Yan, Lingnan University, Hong Kong SAR</li>
			<li>Kai Yang, Shenzhen University, China</li>
			<li>Aiting Yao, Pengcheng Lab, China</li>
			<li>Huiwan Zhang, Macau University of Science and Technology, Macau SAR</li>
			<li>Yongxiang Zhang, City University of Hong Kong, Hong Kong SAR</li>
			<li>Sunyi Zhen, East China Normal University, China</li>			
		</ul>


		{% include html_body_footer.html %}
	</body>
</html>
