<!DOCTYPE html>
<html>
	<head>
		{% include html_head.html %}
	</head>
	<body>
		{% include html_body_header.html %}

		<div class="title">Previous UMLL</div>
		
		<ul>
			<li><a href="http://sete-umll.org/2021/" target="_blank">UMLL 2021</a>, Zhuhai, China, November 11-12, 2021</li>
			<li><a href="http://sete-umll.org/2020/" target="_blank">UMLL 2020</a>, Ningbo, China, October 22-24, 2020</li>
			<li><a href="http://sete-umll.org/2019/" target="_blank">UMLL 2019</a>, Magdeburg, Germany, September 23-25, 2019</li>
			<li><a href="http://sete-umll.org/2018/" target="_blank">UMLL 2018</a>, Chiang Mai, Thailand, August 22-24, 2018</li>
			<li><a href="http://sete-umll.org/2017/" target="_blank">UMLL 2017</a>, Cape Town, South Africa, September 20-22, 2017</li>
		</ul>
		
		<br><br><br>
		
		{% include html_body_footer.html %}
	</body>
</html>
