<!DOCTYPE html>
<html>
	<head>
		{% include html_head.html %}
	</head>
	<body>
		{% include html_body_header.html %}


		<div class="title">Submission Guidelines</div>

		<p>Paper submission system is available on Submission Portal (TBC).Prospective authors are invited to submit their papers related to the symposium topics.
		<p>Paper should be formatted according to the Springer LNCS Authors Guidelines: Information for Authors <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">Springer's LNCS site</a> offers style files and information.</p>

		<p>There are two tracks for the workshop:</p>

		<ol>
			<li>Full Papers: 8 - 10 pages (including references)</li>
			<li>Short Papers: 4 - 6 pages (including references)</li>
		</ol>

		<p>Submissions must not have been published previously and must not be under review for publication while being considered for UMLL. This applies also to papers with significantly overlapping contributions.</p>

		<p>UMLL submissions are reviewed following the single blind review process, meaning, you do not need to hide authors' names and affiliations.</p>

		<p>Each accepted paper must be accompanied by at least one full registration regardless of the status of the registering author, and an author must present the paper at the conference. Otherwise, the paper will be removed from the ICWL-SETE 2025 proceedings.</p>

		

		
		{% include html_body_footer.html %}
	</body>
</html>
